*, *:after, *:before { margin:0; padding:0; }

body {
    background-color: #ffffff;
    font-family: Helvetica, sans-serif;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }

  .navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  .navigation_item {
    display:inline-block;
    line-height: 1px;
  }
  
  .navigation_item a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .navigation_item a:hover {
    background-color: #111;
  }
  

.main-section {

    width: 80%;
    height: 50%;
    padding-top: 3%;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 8%;
}

.apply-section-items {

    width: 100%;
    list-style-type: none;
    border: solid;
    text-align: center;
    margin: 8% 0%;
    padding: 3% 0%;

}

.apply-section-items a {

    color: black;
    text-decoration: none;
}

.apply-section-items:hover {

    background-color: #D3D3D3;
}

#apply-section {
    width: 35%;
    height: 100%;
    float: left;
    padding: 2%;
    background-color: #ffffff;
}

#notice-section {
    width: 53%;
    height: 100%;
    float: left;
    overflow-y: auto;
    margin-left: 1%;
    padding: 3%;
    background-color: #f2f2f2;
    text-align: center;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 1%;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

input[type=number] {
  width: 100%;
  padding: 1%;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
 
input[type=date] {
    width: 25%;
    padding: 1%;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
 
  input[type=radio] {
    padding: 12px;
    border: 1px solid #ccc;
    margin: 10px;
    resize: vertical;
  }
 
 
 
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}
 
input[type=submit] , input[type=button] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
 
input[type=submit]:hover , input[type=button]:hover {
  background-color: #45a049;
}
 

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
  margin-left: 7.5%;
}
 
.col-75 {
  float: left;
  width: 60%;
  margin-top: 6px;
}



table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th , td {
  
  padding: 1%;
  text-align: center;
}

 
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

#bio-data {
  width: 80%;
  margin: 2% 10%;
  padding: 1%;
  background-color: #F5F5F5;
  display: none;
}

@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
 

.blue { background-color: rgba(82, 165, 255, 1); }
.green{ background-color: rgba(92, 184, 92, 1) }
.red { background-color: rgba(255, 148, 148, 1); }
.grey { background-color: rgba(201, 201, 201, 1); }